<div class="card" data-testid="details-card-character">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted" data-testid="character-name">{{character.name}}</h6>

    <div class="row">
      <div class="col-3">Gender:</div>
      <div class="col-9" data-testid="gender-value">
        {{character.gender}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">Birth year:</div>
      <div class="col-9"data-testid="birth-year-value">
        {{character.birth_year}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">Eye color:</div>
      <div class="col-9"data-testid="eye-color-value">
        {{character.eye_color}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">Skin color:</div>
      <div class="col-9"data-testid="skin-color-value">
        {{character.skin_color}}
      </div>
    </div>
  </div>
</div>
