<div class="card">
  <div class="card-body" data-testid="details-card-planet">
    <h6 class="card-subtitle mb-2 text-muted" data-testid="planet-name">{{planet.name}}</h6>

    <div class="row">
      <div class="col-3">Population:</div>
      <div class="col-9" data-testid="population-value">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">Climate:</div>
      <div class="col-9" data-testid="climate-value">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">Gravity:</div>
      <div class="col-9" data-testid="gravity-value">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
